@{
    ViewData["Title"] = "Account Informacion Page";
}
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронный Дневник</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="header">
        <img src="company_icon.jpg" class="company-icon" alt="Company Icon">
        <h1 class="main-title">Профиль</h1>
        <nav class="navigation">
            <ul>
                <li><a href="home_page.html">Главная</a></li>
                <li><a href="marks.html">Оценки</a></li>
                <li><a href="account_information.html">Профиль</a></li>
            </ul>
        </nav>
    </header>
    
    <main style="display: flex; flex-direction: column; min-height: 74.9vh;">
        <section class="content-section-account" style="margin: 20px;">
            <div class="photo-item">
                <img src="icon.png" alt="icon">
             </div>
             <div class="section-text" style="padding-left: 75px;">
                <h3 class="section-title">Иванов Иван Иванович</h3>
                <p>
                    Класс:_ </br>
                    Номер телефона:+7(___)___-__-__ </br>
                    Номер телефона законного представителя: +7(___)___-__-__ </br>
                </p>
             </div>

        </section>
    </main>

    <footer class="footer" style="margin-top: auto;">
        <p>&copy; 2024. ТулГУ</p>
    </footer>

</body>
</html>
