@{
    ViewData["Title"] = "Gosuslugi";
}
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронный Дневник</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="header">
        <img src="company_icon.jpg" class="company-icon" alt="Company Icon">
        <h2 class="main-title">Электронный дневник</h2> </br>
        <h3 class="main-title" style="font-size: 1.5em;">Добро пожаловать!</h3>
    </header>
    
   <main style="display: flex; flex-direction: column; min-height: 74.9vh;">
        <section class="section-text" style="text-align: center;">
            <p>Функция пока в разработке.</p>

        </section>
            
    </main>

    <footer class="footer" style="margin-top: auto;">
        <p>&copy; 2024. ТулГУ</p>
    </footer>

</body>
</html>
