@{
    ViewData["Title"] = "Login Page";
}

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронный Дневник</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>
    <header id="header">
        <img src="/images/company_icon.jpg" class="company-icon" alt="Company Icon">
        <h2 class="main-title">Электронный дневник</h2> </br>
        <h3 class="main-title" style="font-size: 1.5em;">Добро пожаловать!</h3>
    </header>
    
    <main style="display: flex; flex-direction: column; min-height: 74.9vh;">
        <section class="content-section-sign-in">
            <form method="post" action="@Url.Action("Login", "Account")">
                <h2 style="text-align: center;"><label>Заполните данные для входа</label></h2>
                <p>
                    <label>Электронная почта: </label>
                    <input type="email" name="email" required>
                </p>
                <p>
                    <label>Пароль: </label>
                    <input type="password" name="password" required>
                </p>
                <p>
                    <!-- Кнопка "Войти" как ссылка -->
                    <a href="@Url.Action("Login", "Account")" class="login-button">Войти</a>
                </p>
                <p>
                    <!-- Кнопка "Зарегистрироваться" -->
                    <a href="@Url.Action("Register", "Account")" class="register-button">Зарегистрироваться</a>
                </p>
            </form>
        </section>
    </main>

    <footer class="footer" style="margin-top: auto;">
        <p>&copy; 2024. ТулГУ</p>
    </footer>
</body>
</html>
